<div class="ui centered grid container">

	<!-- title -->
	<div class="row mobile only">
		<div class="fourteen wide computer sixteen wide tablet column">
			<h1>See Demos</h1>
		</div>
	</div>

	<!-- starting description -->
	<div class="twelve wide computer sixteen wide tablet centered column">

		<div class="ui blue text container segment">

			<h2 class="ui header">
				<i class="large blue lightning icon"></i>
				Freemium Ads
			</h2>
			<h4 class="ui horizontal divider header">
				<i class="warning sign icon"></i>
				The Problem
			</h4>
			<p>
				<strong>Annoying advertisting</strong> is unacceptable for consumers but ad-blocking isn't fair to content creators &amp; distributors.
			</p>
			<h4 class="ui horizontal divider header">
				<i class="idea icon"></i>
				Our Solution
			</h4>
			<p>
				We believe the solution is a <strong>freemium advertising</strong> model where end-users can make a payment to the website using Rai to instantly remove advertisements from their view. They can also disregard the ads like normal.
			</p>
			<div class="ui divider"></div>
			<p>
				The future of the web should be a less annoying but more fair &amp; honest web experience for everyone involved. Content distributors now have the power to give their end-users a better experience through RaiBlocks instant payments.
			</p>
			<a href="/freemium-ads-demo" class="ui right floated green button">
				Start a quick demo
			</a>
			<br style="clear:both;"/>
		</div>
	</div>
</div>