<div class="ui centered grid container">

	<!-- logo -->
	<div class="row">
		<div class="sixteen wide column">
			<br style="clear:both;"/>
			<img ng-click="process()" src="images/logo.png" class="ui centered big image"/>
		</div>
	</div>

	<!-- description -->
	<div class="row">
		<div class="sixteen wide column">
			<div class="ui main text container" style="text-align:center;">
				<br style="clear:both;"/>
				<p>
					RaiBlocks is designed to be a <strong>low latency</strong>, <strong>high throughput</strong> cryptocurrency.
				</p>
				<p>
					We've applied the philosophy of <em>"Do one thing and do it well"</em>, giving you performance and scalability unmatched by any other platform.
				</p>
			</div>
		</div>
	</div>
	
	<!-- get started button -->
	<div class="row">
		<div class="six wide small monitor ten wide tablet column centered">
			<br/>
			<a class="ui fluid blue button" href="/start" role="button">Get Started</a>
			<br style="clear:both;"/>
		</div>
	</div>
</div>