<div class="ui centered grid container">

	<!-- title -->
	<div class="row mobile only">
		<div class="fourteen wide computer sixteen wide tablet column">
			<h1>Get Started</h1>
		</div>
	</div>

	<!-- getting started steps -->
	<div class="row">
		<div class="twelve wide computer sixteen wide tablet centered column">
			<div class="ui steps" style="margin:0 auto;width:99%;">
				<a class="step" href="/wallet">
					<i class="download icon"></i>
					<div class="content">
						<div class="title">Download the wallet</div>
						<div class="description">RaiBlocks is currently v.{{ version }}</div>
					</div>
				</a>
				<a class="step" href="/distribution">
					<i class="theme icon"></i>
					<div class="content">
						<div class="title">Distribution Faucet</div>
						<div class="description">Participate in distribution</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>