#main {
	margin-top: 1em;
}
#go-ad-free {
	word-wrap: break-word;
}
.borderless.main.menu .toc.item {
	display: none !important;
}
.account_textarea {
	width: 600px !important;
}
@media only screen and (max-width: 700px) {

	.borderless.main.menu .item {
		display: none !important;
	}
	.borderless.main.menu .mobile.item {
		display: block !important;
	}
}
@media only screen and (max-width: 767px) {

	.account_textarea {
		width: 292px !important;
	}
}