<!-- title -->
<div class="sixteen wide column">
	<h1>Use-case Demos</h1>
</div>
<br style="clear:both;"/>

<div ng-show="!initialized && !payment_account" class="fourteen wide column centered ng-hide">
	<div class="ui items">
		<div class="item">
			<div class="ui image"><i class="huge erase icon"></i></div>
			<div class="middle aligned content">
				<div class="header">
					Instant ad-removal
				</div>
				<div class="description">
					<p>Wouldn't it be great if content distributors didn't have to battle ad-blockers, and content consumers didn't have to battle advertisements or cheat distributors by using ad-blockers? We've created a simple way to allow websites to let their visitors pay-to-remove advertisements using RaiBlocks.</p>
				</div>
				<div class="extra">
					<a ng-click="initialize()" class="ui right floated violet button">Start Demo</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Restart Demo -->
<div ng-show="paid" class="sixteen wide column centered ng-hide">
	<div ng-if="paid" class="ui green message">
		Payment received! Ads now closed.
		<button ng-click="initialize()" class="ui mini green button ">
			<i class="refresh icon"></i>Restart Demo
		</button>
	</div>
</div>

<!-- Pay 1 Mrai, Copy Account to Clipboard -->
<div ng-show="!paid && initialized" class="sixteen wide column centered ng-hide">
	<div id="go-ad-free" ng-if="payment_account && !paid" class="ui blue message">
		<div class="header">
			Want an <strong>ad-free</strong> experience?
		</div>
		<br style="clear:both;"/>
		Pay <em>1000</em> Mrai to <strong>{{ payment_account }}</strong>&nbsp;
		<a
		id="copy"
		class="ui mini grey button" 
		ngclipboard 
		data-clipboard-text="{{ payment_account }}">
			<i class="clipboard icon"></i>
		</a>
	</div>
</div>

<!-- Google Adsense Ads
<div ng-show="!paid && initialized" class="sixteen wide column centered ng-hide">
	<adsense ad-client="ca-pub-9603255231151209" ad-slot="7949639779" inline-style="display:block"></adsense>
</div>
 -->

<!-- Simulate Payment -->
<div ng-show="!paid && initialized && !showSimulatePayment" class="twelve wide column centered ng-hide">
	<button ng-click="simulatePayment()" class="ui fluid blue button" ng-class="{ 'active': showSimulatePayment }">
		Simulate a payment
	</button>
</div>

<!-- Free Rai Form (for simulating payment) -->
<div ng-show="!paid && initialized && showSimulatePayment" class="sixteen wide column ng-hide">
	<span>Use the account above to make payment.</span>
	<free-rai-form></free-rai-form>
</div>

<!-- DEMO INLINE WEBSITE -->
<div ng-show="initialized" class="sixteen wide column ui centered raised segment ng-hide">

	<div class="ui grid">

		<!-- Demo website header -->
		<div class="sixteen wide column">
			<h1>PopularPandaPlace.com</h1>
		</div>

		<!-- AD -->
		<div ng-hide="paid" class="ui top banner test ad" data-text="Top Banner"></div>

		<!-- CONTENT -->
		<div class="thirteen wide column">

			<!-- placeholder headline -->
			<h2>Giant Pandas</h2>

			<!-- placeholder image -->
			<img src="images/panda.jpg" alt="A panda bear" class="ui medium image">

			<!-- placeholder image desc -->
			<h4 class="ui header">Solitary Munchers</h4>

			<!-- placeholder paragraph -->
			<p>
				The 'giant panda', also known as 'panda bear', or simply 'panda', is a native bear to south-central China. With easily spotted features such as black eye patches and their white backs &amp; bellies, these bears are quite a unique creature.
			</p>

			<!-- AD -->
			<div ng-hide="paid" class="sixteen wide column">
				<div class="ui half banner test ad" data-text="Advertisement"></div>
			</div>
			<br style="clear:both;"/>
			
			<p>
				Although they're classified as a carnivore, this fuzzy tree-crawler tends to graze on bamboo, fully living up to it's stereotype. Wild Giant pandas will occasionally eat other grasses, wild tubers, or even meat in the form of birds, rodents or carrion. While captive, pandas can receive honey, eggs, fish, yams, shrub leaves, oranges, or bananas along with specially prepared food.
			</p>

			<!-- AD -->
			<div ng-hide="paid" class="sixteen wide column">
				<div class="ui half banner test ad" data-text="Advertisement"></div>
			</div>
		</div>

		<!-- AD -->
		<div ng-hide="paid" class="three wide column">
			<div class="ui skyscraper test ad" data-text="Advertisement"></div>
		</div>
	</div>
</div>