<!-- title -->
<div class="sixteen wide column">
	<h1>Live Use-Case Demos</h1><br/>
</div>

<div ng-show="!initialized && !payment_account" class="twelve wide computer sixteen wide tablet centered column ng-hide">

	<br style="clear:both;"/>

	<div class="ui items">
		<div class="item">
			<div class="ui image"><i class="huge erase icon"></i></div>
			<div class="middle aligned content">
				<div class="header">
					Instant Web-Ad Removal
				</div>
				<div class="description">
					<p>Wouldn't it be great if content distributors didn't have to battle ad-blockers, and content consumers didn't have to battle advertisements or cheat distributors by using ad-blockers? We've created a simple way to allow websites to let their visitors pay-to-remove advertisements using RaiBlocks.</p>
				</div>
				<div class="extra">
					<a ng-click="initialize()" class="ui right floated violet button">Start Demo</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Restart Demo -->
<div ng-show="paid" class="twelve wide computer sixteen wide tablet column centered ng-hide">
	<div ng-if="paid" class="ui green message">
		Payment received! Ads now closed.
		<button ng-click="initialize()" class="ui mini green button ">
			<i class="refresh icon"></i>Restart Demo
		</button>
		<br style="clear:both;"/>
	</div>
</div>

<!-- Pay 1 Mrai, Copy Account to Clipboard -->
<div ng-show="!paid && initialized" class="twelve wide computer sixteen wide tablet column centered ng-hide">
	<div ng-if="payment_account && !paid" class="ui blue message word-wrap">
		<div class="header">
			Want an <strong>ad-free</strong> experience?
		</div>
		Pay 100 Mrai&nbsp;
		<a
		id="copy"
		class="ui mini black button" 
		ngclipboard 
		data-clipboard-text="{{ payment_account }}">
			<i class="clipboard icon"></i>
		</a>
		<br/>
		<em>{{ payment_account }}</em>
	</div>
	<br style="clear:both;"/>
</div>

<!-- Simulate Payment -->
<div ng-show="!paid && initialized && !showSimulatePayment" class="eight wide computer twelve wide column centered ng-hide">
	<button ng-click="simulatePayment()" class="ui fluid blue button" ng-class="{ 'active': showSimulatePayment }">
		Simulate a payment
	</button>
	<br style="clear:both;"/>
</div>

<!-- Free Rai Form (for simulating payment) -->
<div 
ng-show="!paid && initialized && showSimulatePayment" 
class="ten wide computer sixteen wide tablet column centered ng-hide">
	<div class="ui blue pointing below label">
		Use the account shown above to simulate payment below
	</div>
	<free-rai-form></free-rai-form>
	<br style="clear:both;"/>
</div>

<!-- DEMO INLINE WEBSITE -->
<div ng-show="initialized" class="ten wide computer sixteen wide tablet column ui centered raised segment ng-hide">

	<div class="ui grid">

		<!-- Demo website header -->
		<div class="sixteen wide column">
			<a class="ui massive grey ribbon label">PopularPandaPlace.com</a>
		</div>

		<!-- AD -->
		<iframe ng-hide="paid" data-aa='138545' src='https://ad.a-ads.com/138545?size=728x90' scrolling='no' style='width:100%; height:90px; border:0px; padding:0;overflow:hidden' allowtransparency='true' frameborder='0'></iframe>

		<!-- CONTENT -->
		<div class="thirteen wide column">

			<!-- placeholder headline -->
			<h2>Giant Pandas</h2>

			<!-- placeholder image -->
			<img src="images/panda.jpg" alt="A panda bear" class="ui medium image">

			<!-- placeholder image desc -->
			<h4 class="ui header">Solitary Munchers</h4>

			<!-- placeholder paragraph -->
			<p>
				The 'giant panda', also known as 'panda bear', or simply 'panda', is a native bear to south-central China. With easily spotted features such as black eye patches and their white backs &amp; bellies, these bears are quite a unique creature.
			</p>

			<!-- AD -->
			<iframe ng-hide="paid" data-aa='138545' src='https://ad.a-ads.com/138545?size=728x90' scrolling='no' style='width:100%; height:90px; border:0px; padding:0;overflow:hidden' allowtransparency='true' frameborder='0'></iframe>
			
			<p>
				Although they're classified as a carnivore, this fuzzy tree-crawler tends to graze on bamboo, fully living up to it's stereotype. Wild Giant pandas will occasionally eat other grasses, wild tubers, or even meat in the form of birds, rodents or carrion. While captive, pandas can receive honey, eggs, fish, yams, shrub leaves, oranges, or bananas along with specially prepared food.
			</p>
		</div>

		<!-- AD -->
		<div ng-hide="paid" class="three wide column">
			<iframe data-aa='140441' src='https://ad.a-ads.com/140441?size=120x600' scrolling='no' style='width:120px; height:600px; border:0px; padding:0;overflow:hidden' allowtransparency='true' frameborder='0'></iframe>
		</div>
	</div>
</div>