<div class="col-lg-12">
	
	<div class="row">

		<!-- lefthand pane -->
		<div class="col-lg-4">

			<h3>Select an action</h3>

			<h1><small>Give a Tip</small></h1>
			<button class="btn btn-primary">Donate</button>

			<h1><small>Download a File</small></h1>
			<button class="btn btn-primary">Download</button>

			<h1><small>Annoying Ad</small></h1>
			<button class="btn btn-primary">Close Ad</button>
		</div>

		<!-- righthand pane -->
		<div class="col-lg-8">
			<h3>Send Rai to Complete</h3>
			<free-rai-form></free-rai-form>
		</div>

	</div>
</div>