<br style="clear:both;"/>

<div class="row">
	<div class="col-lg-12">

		<!-- Restart Demo -->
		<div ng-if="!payment_account && paid && demoComplete" class="alert alert-info">
			Should we do that again?
			<button ng-click="initialize()" class="btn btn-default btn-xs">
				<i class="fa fa-refresh"></i>&nbsp;Restart Demo
			</button>
		</div>

		<h1>AmazingWebsite.tld</h1>

		<!-- Google Adsense Ads -->
		<div ng-hide="paid">
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- Adclose demo -->
			<ins class="adsbygoogle"
			style="display:block"
			data-ad-client="ca-pub-9603255231151209"
			data-ad-slot="5310681374"
			data-ad-format="auto"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		</div>

		<div ng-hide="paid" class="banner top bg-danger">
			Annoying Ad
		</div>
		<br style="clear:both;"/>

		<!-- Pay 1 Mrai, Copy Account to Clipboard -->
		<div ng-if="payment_account && !paid" class="alert alert-success">
			Go <strong>ad-free</strong> for 1000 Mrai
			&nbsp;
			<button
			class="btn btn-default btn-xs"
			tooltip-trigger="click"
			tooltip-placement="bottom"
			uib-tooltip="Account copied!"
			ngclipboard
			data-clipboard-text="{{ payment_account }}">
				<i class="fa fa-clipboard"></i>
			</button>
			<br/>{{ payment_account }}
			
		</div>

		<!-- Simulate Payment -->
		<div ng-if="payment_account && !paid">
			<button ng-click="simulatePayment()" class="btn btn-default btn-block" ng-class="{ 'active': showSimulatePayment }">
				<i class="fa fa-refresh"></i>&nbsp;Simulate Payment
			</button>
			<br style="clear:both;"/>
		</div>

		<div ng-if="payment_account && !paid && showSimulatePayment" class="well">
			<h3>Simulate Payment</h3><br/>
			<free-rai-form></free-rai-form>
		</div>
	</div>
</div>
<div class="row" style="margin-left:1em;">
	<div class="col-lg-10 col-md-10 col-sm-10">

		<!-- placeholder headline -->
		<h2>Awesome Headline</h2>

		<!-- placeholder image -->
		<img src="images/placeholder.jpg" alt="..." class="img-rounded">

		<!-- placeholder image desc -->
		<p class="lead">Anxious image description!</p>

		<!-- placeholder paragraph -->
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</div>
	<div class="col-lg-2 col-md-2 col-sm-2">
		<div ng-hide="paid" class="banner side bg-danger">
			Ad
		</div>
	</div>
</div>