<div class="ui centered grid container">

	<!-- title -->
	<div class="row mobile only">
		<div class="fourteen wide computer sixteen wide tablet column">
			<h1>Distribution Faucet</h1>
		</div>
	</div>

	<div class="ten wide computer sixteen wide tablet column">	
		<div class="ui grid">

			<!-- free rai form -->
			<div class="sixteen wide column">
					
				<div ng-show="!freeRaiVisible" class="ng-hide ui icon green message">
					<i class="thumbs up icon"></i>
					<div class="content">
						<div class="header">
							{{ wait_hdr }}
						</div>
						<p>
							{{ wait_msg }}
						</p>
					</div>
				</div>

				<div ng-show="!faucetOff && freeRaiVisible" class="ng-hide">

					<div class="ui blue pointing below label">
						Please complete the form
					</div>
					
					<form>
						<!-- account id -->
						<div class="ui form field account_textarea">
							<textarea ng-model="account" placeholder="Account #" rows="2" autocomplete="off"></textarea>
						</div>

						<br style="clear:both"/>

						<!-- recaptcha -->
						<div
						vc-recaptcha
						theme="'light'"
						key="recaptchaKey"
						on-create="setWidgetId(widgetId)"
						on-success="setResponse(response)"></div>

						<br style="clear:both"/>

						<!-- submission button -->
						<button
						ng-disabled="button.disabled == true"
						ng-class="button.class"
						ng-click="submit()"
						class="ui button"
						type="submit">
							<i ng-class="button.icon" class="icon"></i>&nbsp;{{ button.title }}
						</button>
						<button 
						class="ng-hide ui teal button"
						ng-show="block"
						ng-click="exploreBlock()">
							Explore Last Block
						</button>
					</form>
					<br style="clear:both;"/>
				</div>

				<!-- Faucet OFF -->
				<div ng-show="faucetOff" class="ng-hide">

					<div class="ui icon teal message">
						<i class="theme icon"></i>
						<div class="content">
							<div class="header">
								An improved faucet is coming soon!
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Statistics -->
			<div ng-show="count || hoursSinceLastRan" class="ten wide computer sixteen wide tablet column ng-hide">
				<div class="ui segment">
					<h4 class="ui header">Your Metrics:</h4>
					<div class="ui mini green horizontal statistic">
						<div class="value">
							{{ count }}
						</div>
						<div class="label">
							<span ng-show="count > 1" class="ng-hide">successes</span><span ng-show="count === 1" class=-"ng-hide">success</span> this period
						</div>
					</div>
					<div ng-show="hoursSinceLastRan !== 'Never'" class="ng-hide ui tiny horizontal statistic">
						<div class="value">
							{{ hoursSinceLastRan }}
						</div>
						<div class="label">
							hours since last distribution
						</div>
					</div>
				</div>
			</div>

			<div ng-show="percentage_distributed" class="fourteen wide computer sixteen wide tablet column ng-hide">

				<div class="ui piled segment">
					<h4 class="ui header">Faucet Metrics:</h4>
					<!-- Coin Availability -->
					<div class="ui small statistics">
						<div class="statistic">
							<div class="value">
								{{ available_supply_absolute | number }}
							</div>
							<div class="label">
								Mrai
							</div>
						</div>
						<div class="statistic">
							<div class="value">
								{{ percentage_distributed }}%
							</div>
							<div class="label">
								Distributed (<a target="_blank" href="/api/available_supply" target="_bank">API</a>)
							</div>
						</div>
					</div>

					<br style="clear:both;"/>
					
					<!-- Distributed Progress Bar -->
					<div class="ui large active green progress" id="distributed_perc">
						<div class="bar"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>