<div class="ui centered grid container">

	<!-- title -->
	<div class="row mobile only">
		<div class="fourteen wide computer sixteen wide tablet column">
			<h1>Distribution Faucet</h1>
		</div>
	</div>

	<div class="ten wide computer sixteen wide tablet column">	
		<div class="ui grid">

			<!-- MANUAL DISTRIBUTION MESSAGE -->
			<div class="sixteen wide column">
				
				<div class="ui info message">
					<div class="header">
						Upcoming Maintenance
					</div>
					<p>Thanks for participating in the free distribution of RaiBlocks! Due to increasing popularity, we need to schedule a maintenance period to keep the website running smooth.
					</p>

					<strong>
						How the maintenance period affects these popular timezones:
					</strong>
					<ul class="list">
						<li>
							(GMT/UTC) 2AM-4AM 04/21/2016
						</li>
						<li>
							(PDT) 7PM-9PM 04/20/2016
						</li>
						<li>
							(CTZ) 9PM-11PM 04/20/2016
						</li>
					</ul>

					<br style="clear:both;"/>

					<strong>
						Q. What about the 2-hours missed? Where does that distribution go?
					</strong>

					<br style="clear:both;"/>

					<em>
						A. After the maintenance period, we will have an extra 2 hours of distribution saved up which will be distributed in the following distribution 2 hours after the end of this maintenance. This allows the users who were waiting for 2 hours to receive double distribution and not lose any time.
					</em>
				</div>
			</div>

			<!-- FAUCET FORM -->
			<div ng-show="!faucetOff" class="ng-hide sixteen wide column">	
				<div class="ui segment">
					
					<form>

						<!-- pointing label -->
						<div class="ui blue pointing below label">
							Complete the form
						</div>

						<!-- account id -->
						<div class="ui form field account_textarea">
							<textarea ng-model="account" placeholder="Enter your xrb account" rows="2" autocomplete="off"></textarea>
						</div>
						<br style="clear:both"/>

						<!-- recaptcha -->
						<div
						vc-recaptcha
						theme="'light'"
						key="recaptchaKey"
						on-create="setWidgetId(widgetId)"
						on-success="setResponse(response)"></div>

						<br style="clear:both"/>

						<!-- submission button -->
						<div class="ui buttons">
							<button
							ng-disabled="button.disabled == true"
							ng-class="button.class"
							ng-click="submit()"
							class="ui button"
							type="submit">
								<i ng-class="button.icon" class="icon"></i>&nbsp;{{ button.title }}
							</button>
							<button ng-click="howFaucet(true)" class="ui olive button">
								<i class="theme icon"></i>&nbsp;How it works
							</button>
						</div>
					</form>
				</div>
			</div>

			<!-- PLEASE WAIT DURATION MESSAGE -->
			<div ng-show="requestSuccess" class="ng-hide sixteen wide column">
				<div class="ui icon green message">
					<i class="thumbs up icon"></i>
					<div class="content">
						<div class="header">
							{{ wait_hdr }}
						</div>
						<p>
							{{ wait_msg }}
						</p>
					</div>
				</div>
			</div>

			<!-- INDIVIDUAL METRICS -->
			<div ng-show="count || hoursSinceLastRan" class="ten wide computer sixteen wide tablet column ng-hide">
				<div class="ui mini green horizontal statistic">
					<div class="value">
						{{ count }}
					</div>
					<div class="label">
						<span ng-show="count === 0 || count > 1" class=-"ng-hide">successes</span>
						<span ng-show="count === 1" class=-"ng-hide">success</span>
					</div>
				</div>
				<div class="ui mini horizontal statistic">
					<div class="value">
						{{ hoursSinceLastRan }}
					</div>
					<div class="label">
						<span ng-show="hoursSinceLastRan === 0 || hoursSinceLastRan > 1" class=-"ng-hide">hrs</span>
						<span ng-show="hoursSinceLastRan === 1" class=-"ng-hide">hr</span>
						&nbsp;since distribution
					</div>
				</div>
			</div>

			<!-- PAST DISTRIBUTIONS
			<div ng-show="past_distributions" class="sixteen wide column ng-hide">
				<div class="ui stacked segment">
					<h3 class="ui header">My Past Distributions</h3>

					<table class="ui celled table">
						<thead>
							<tr>
								<th>Paid Time</th>
								<th>Period End</th>
								<th>Period Start</th>
								<th>Count</th>
								<th>Mrai Owed</th>
								<th>Receipt</th>
								
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="record in past_distributions">

								<td>{{ record.paid_unix | date:'M/dd h:mma'}}</td>
								<td>{{ record.ended_unix | date:'M/dd h:mma'}}</td>
								<td>{{ record.started_unix | date:'M/dd h:mma'}}</td>
								<td>{{ record.total_count }}</td>
								<td>{{ record.mrai_owed }}</td>
								<td>
									<a
									class="ui mini grey button" 
									ngclipboard 
									data-clipboard-text="{{ record.receipt_hash }}">
										<i class="clipboard icon"></i> Hash
									</a>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr><th colspan="3">
								<div class="ui right floated pagination menu">
									<a class="icon item">
										<i class="left chevron icon"></i>
									</a>
									<a class="item">1</a>
									<a class="item">2</a>
									<a class="item">3</a>
									<a class="item">4</a>
									<a class="icon item">
										<i class="right chevron icon"></i>
									</a>
								</div>
							</th>
						</tr></tfoot>
					</table>
				</div>
			</div>
			END PAST DISTRIBUTIONS -->

			<!-- FAUCET STATISTICS -->
			<div ng-show="percentage_distributed" class="sixteen wide column ng-hide">
				<div class="ui raised segment">
					<h3 class="ui header">Distribution Progress</h3>
					<!-- Coin Availability -->
					<div class="ui small statistics">
						<div class="statistic">
							<div class="value">
								{{ available_supply_absolute | number }}
							</div>
							<div class="label">
								Mrai
							</div>
						</div>
						<div class="statistic">
							<div class="value">
								{{ percentage_distributed }}%
							</div>
							<div class="label">
								Distributed (<a target="_blank" href="/api/available_supply" target="_bank">API</a>)
							</div>
						</div>
					</div>

					<br style="clear:both;"/>
					
					<!-- Distributed Progress Bar -->
					<div class="ui large active green progress" id="distributed_perc">
						<div class="bar"></div>
					</div>
				</div>
			</div>
			<!-- END FAUCET STATISTICS -->
		</div>
	</div>
</div>

<div id="how-faucet" class="ui basic modal">
	<i class="close icon"></i>
	<div class="header">
		How the distribution faucet works
	</div>
	<div class="image content">
		<div class="image">
			<i class="theme blue icon"></i>
		</div>
		<div class="description">
			<p>
				The faucet distributes&nbsp;&nbsp;<a class="ui blue label">21,000 Mrai Per Hour</a>&nbsp;&nbsp;spread across all participating accounts. Each success increases your overall success count for the <strong>current undistributed period</strong>. When the algorithm calculates distribution percentages, it considers your total count against the overall success count of everyone for that period.
			</p>
			
			<br style="clear:both;"/>
			<a class="ui blue pointing below label">Distribution Algorithm</a>
			<p>
				<strong>Your Mrai Owed =</strong> ( My Count / Total Count ) * ( 21,000 * Hours Since Last Distributed )
			</p>

			<br style="clear:both;"/>

			<a class="ui red pointing below label">Example Breakdown</a>
			<p>
				<strong>Your Mrai Owed =</strong> ( 420 / 4477 ) * ( 21,000 * 2 )
			</p>
			<p>
				<strong>3940.1384855931 =</strong> 0.09381282108555 * 42,000
			</p>
			<p>
				<strong>Example 3940 Mrai Owed</strong>
			</p>
			<p></p>
			<p>
				Our system calculates &amp; distributes Mrai <strong>every 2 hours</strong>. In the event that distribution takes longer than normal, <strong>please don't worry</strong>. All of your successful ReCaptcha solves are saved forever and you will receive complete distribution eventually.
			</p>
		</div>
	</div>
	<div class="actions">
		<div ng-click="howFaucet(false)" class="ui olive big basic remove inverted button">
			<i class="thumbs up icon"></i>
			Got it
		</div>
	</div>
</div>