<form>

	<!-- account id -->
	<div class="ui form field account_textarea">
		<textarea ng-model="account" placeholder="Account #" rows="2" autocomplete="off"></textarea>
	</div>

	<br style="clear:both"/>

	<!-- recaptcha -->
	<div
	vc-recaptcha
	theme="'light'"
	key="recaptchaKey"
	on-create="setWidgetId(widgetId)"
	on-success="setResponse(response)"></div>

	<br style="clear:both"/>

	<!-- submission button -->
	<button
	ng-disabled="button.disabled == true"
	ng-class="button.class"
	ng-click="submit()"
	class="ui button"
	type="submit">
		<i ng-class="button.icon" class="icon"></i>&nbsp;{{ button.title }}
	</button>
	<button 
	class="ng-hide ui teal button"
	ng-show="block"
	ng-click="exploreBlock()">
		Explore Last Block
	</button>
</form>