<!-- logo -->
<div class="sixteen wide column">
	<img ng-click="process()" ng-src="images/logo.png" class="ui centered huge image"/>
</div>

<!-- description -->
<div class="fourteen wide column centered">
	<div class="ui main text container">
		<p>
			RaiBlocks is designed to be a <strong>low latency</strong>, <strong>high throughput</strong> cryptocurrency.
		</p>
		<p>
			We've applied the philosophy of <em>"Do one thing and do it well"</em>, giving you performance and scalability unmatched by any other platform.
		</p>
		<a target="_blank" href="https://docs.google.com/document/d/13s6BKzRq9oD5Me55JBRzR7BdvjJ44QKqPu2lf-JsAlU/edit">View the whitepaper</a>
	</div>
</div>

<!-- get started button -->
<div class="eight wide column centered">
	<a class="ui fluid blue button" href="/#/start" role="button">Get Started</a>
</div>