<!-- logo -->
<img ng-click="process()" ng-src="images/logo.png" class="ui fluid image"/>

<br style="clear:both;"/>

<div class="ui main text container">

	<p>
		RaiBlocks is designed to be a <strong>secure</strong>, <strong>scalable</strong>, and <strong>extendable</strong> distributed ledger platform.
	</p>

	<p>
		We've applied the philosophy of "Do one thing and do it well", giving you performance and scalability unmatched by any other platform.
	</p>

	<br style="clear:both;"/>

	<!-- get started button -->
	<p>
		<a class="ui massive blue button" href="/#/start" role="button">Get Started!</a>
	</p>
</div>