<!-- title -->
<div class="sixteen wide column">
	<h1>Let's get started!</h1>
</div>
<br style="clear:both;"/>

<!-- getting started steps -->
<div class="sixteen wide column">

	<div class="ui steps">
		<a class="step" ng-click="toggleTab('download')" ng-class="{'active': tab === 'download'}">
			<i class="download icon"></i>
			<div class="content">
				<div class="title">The Wallet</div>
				<div class="description">Download the RaiBlocks wallet.</div>
			</div>
		</a>
		<a class="step" ng-click="toggleTab('blocks')" ng-class="{'active': tab === 'blocks'}">
			<div class="content">
				<div class="title">Free Blocks</div>
				<div class="description">Have some free Raiblocks, on us!</div>
			</div>
		</a>
	</div>
</div>
<br style="clear:both;"/><br/>

<!-- wallet version -->
<div class="row" ng-hide="tab !== 'download'">
	<div class="six wide column">
		<div class="ui small statistic">
			<div class="label">
				Current Wallet Version
			</div>
			<div class="value">
				{{ rb_version }}
			</div>
		</div>
	</div>
	<br style="clear:both;"/><br/>

	<!-- download wallet -->
	<div class="six wide column">
		<div class="label">
			Select a platform
		</div>
		<div class="ui massive buttons">
			<a 
			class="ui button" 
			target="_blank" 
			href="https://github.com/clemahieu/raiblocks/releases/download/V{{ rb_version }}/rai-{{ rb_version }}-Darwin.dmg">
				<i class="apple icon"></i>OSX
			</a>
			<div class="or"></div>
			<a 
			class="ui button" 
			target="_blank" 
			href="https://github.com/clemahieu/raiblocks/releases/download/V{{ rb_version }}/rai-{{ rb_version }}-win64.zip">
				<i class="windows icon"></i>Windows
			</a>
			<div class="or"></div>
			<a 
			class="ui button" 
			target="_blank" 
			href="https://github.com/clemahieu/raiblocks/releases/download/V{{ rb_version }}/rai-{{ rb_version }}-Linux.tar.bz2">
				<i class="linux icon"></i>Linux
			</a>
		</div>
	</div>
</div>

<div class="row ng-hide" ng-show="tab === 'blocks'">
	<!-- title -->
	<div class="sixteen wide column">
		<h1>Request Rai Blocks</h1>
	</div>
	<!-- free rai form -->
	<div class="centered wide column">
		<free-rai-form></free-rai-form>
	</div>
</div>