<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">

	<h1>Get the wallet</h1>

	<table id="start">
		<tbody>
			<tr>
				<td>
					<i class="fa fa-apple fa-3x"></i>
				</td>
				<td>
					<a target="_blank" href="https://github.com/clemahieu/raiblocks/releases/download/V{{ rb_version }}/rai-{{ rb_version }}-Darwin.dmg">
						Mac (rai-{{ rb_version }}-Darwin.dmg)
					</a>
				</td>
			</tr>
			<tr>
				<td>
					<i class="fa fa-windows fa-3x"></i>
				</td>
				<td>
					<a target="_blank" href="https://github.com/clemahieu/raiblocks/releases/download/V{{ rb_version }}/rai-{{ rb_version }}-win64.zip">
						Windows (rai-{{ rb_version }}-win64.zip)
					</a>
				</td>
			</tr>
			<tr>
				<td>
					<i class="fa fa-linux fa-3x"></i>
				</td>
				<td>
					<a target="_blank" href="https://github.com/clemahieu/raiblocks/releases/download/V{{ rb_version }}/rai-{{ rb_version }}-Linux.tar.bz2">
						Linux (rai-{{ rb_version }}-Linux.tar.bz2)
					</a>
				</td>
			</tr>
		</tbody>
	</table>

	<br style="clear:both;"/>

	<strong>Have a wallet?</strong>
	<a class="btn btn-block btn-success" href="/#/getblocks" role="button">Get Blocks</a>
</div>