<div class="ui centered grid container">

	<!-- title -->
	<div class="row mobile only">
		<div class="fourteen wide computer sixteen wide tablet column">
			<h1>Wallet Download</h1>
		</div>
	</div>

	<!-- content -->
	<div class="ten wide computer sixteen wide tablet centered column">

		<div class="ui statistic">
			<div class="label">
				Current Wallet Version
			</div>
			<div class="value">
				{{ rb_version }}
			</div>
		</div>
		<div class="ui message">
			<div class="header">
				Backup Your Wallet!
			</div>
			<p>Please backup your wallet <strong>before overwriting existing files</strong> to prevent losing any Rai!</p>
			<a class"fluid ui button" href="https://github.com/clemahieu/raiblocks/wiki/Wallet-Backups" target="_blank">
				<i class="github icon"></i>Wallet Backup Guide
			</a>
		</div>
		<br style="clear:both;"/>

		<div class="ui orange below label">
			Select your platform
		</div>

		<br style="clear:both"/><br/>

		<div class="ui basic buttons">
  			<a ng-repeat="platform in platforms" class="ui button" target="_blank" href="{{ platform.link }}">
  				<i class="icon" ng-class="platform.icon"></i> {{ platform.name }}
  			</a>
		</div>

		<br style="clear:both"/><br/>
		<a class"fluid ui button" href="https://github.com/clemahieu/raiblocks/releases" target="_blank">
			<i class="github icon"></i>View Release Notes
		</a>
	</div>
</div>